html {
  height: 100%;
}

body {
  display: flex; /* or inline-flex */
  flex-direction: row;
  /* align-items: stretch; */
  height: 100%;
}

.simulation-control {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-right: 4px;
  border-right: 1px solid #ddd;
  height: auto;
}

.acutator-settings {
  margin-top: 2px;
  margin-left: 6px;
  width: 100%;
}

button {
  padding: 5px;
  margin: 0;
  width: inherit;
  width: 60px !important;
}

button + button {
  margin-top: 2px;
}

/* input[type='range'] {
  margin-top: 60px;
  margin-right: -100px;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
} */

/*#manual {
  margin-left: -40px;
}
*/
.selected {
  fill: red;
  stroke: brown;
}

.input-group-text,
input {
  font-size: 10px !important;
}

#manual {
  padding-top: 2px;
}

#actuators-tab-content form {
  padding-top: 4px;
}

.piston-container {
  padding: 2px 0;
}

.piston-container div div {
  border: 1px dashed lightgray;
  margin: 2px;
  padding: 4px;
}

.piston-container input[type='range'] {
  width: 100%;
}

.piston-container button {
  margin-left: 0;
}
