body {
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0 20px;
}

h2 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 7px;
    border: 1px solid #C5C5C5;
    border-radius: 2px;
    cursor: pointer;
    outline: none!important;
    background: linear-gradient(#f7f7f7, #ececec);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ececec');
    zoom: 1;
    font-size: 12px;
    /*font-weight: bold;*/
    margin: 0px 2px 8px 2px;
}

button img {
    width: 50px;
    height: 50px;
}

button:hover {
    border-color: #bbbbbb;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    background: linear-gradient(#fefefe, #ececec);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#ececec');
}

button:active {
    box-shadow: none;
    background: linear-gradient(#f5f5f5, #e0e0e0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e0e0e0');
    outline: none;
}

button#hidden {
    padding: 0;
    margin: 0;
    border: 0;
    width: 0;
    position: absolute;
}

button.halfWidth {
    width: 50%;
    margin-left: -2px;
    margin-right: -2px;
}

button.tool {
    vertical-align: top;
    width: 54px;
    padding: 0px 0px 2px 0px;
}

button.fabricate {
    vertical-align: top;
    width: 100%;
    margin-left: -2px;
    margin-right: -2px;
}

button.tool.active {
    background: linear-gradient(#ccc, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#dddddd');
}

button.tool.active:hover {
    box-shadow: none;
}

button.dummy {
    visibility: hidden;
}

button:disabled, button:disabled:hover {
    border: none;
    box-shadow: none;
    cursor: not-allowed;
    filter: none;
    background: darkgrey;
}
