<html>
<head>
  <title>Spring Modifications</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>

</style>

<script type="text/javascript">
  function set_period(value) {
    document.getElementById('period').value = value;
  }
  function set_constant(id, value) {
    document.getElementById('spring_constant_' + id).value = value;
  }
</script>

</head>
<body>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Modify spring parameters</h5>
    <% @spring_links.each { |spring_link| %>
    <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text text-monospace">k</span>
              </div>
              <input id="spring_constant_<%=  spring_link.id  %>" type="text" placeholder="20000" readonly class="form-control">
              <div class="input-group-append">
                <span class="input-group-text text-monospace">N/m</span>
              </div>
            </div>
          </div>
      <div class="col-6">
        <input type="range" class="custom-range pt-3" id="customRange1" min="10000" max="50000" step="10000" value="20000" onchange="window.sketchup.spring_insights_change(<%= spring_link.id %>, this.value); set_constant(<%= spring_link.id %>, this.value)">
      </div>
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text text-monospace">p</span>
      </div>
      <input id="period" type="text" placeholder="1.5" readonly class="form-control" style="text-align: right;">
      <div class="input-group-append">
        <span class="input-group-text text-monospace">s</span>
      </div>
    </div>
    <%  } %>

    <div class="input-group mb-3">
      <div class="row no-gutters">
        <button class="btn btn-primary" onClick="window.sketchup.spring_insights_toggle_play()">
          play animation
        </button>
      </div>
    </div>

  </div>
</div>

</body>
</html>
