<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= @root_dir %>/ui/css/ui.css" type="text/css">
    <script type="text/javascript" src="<%= @root_dir %>/ui/node_modules/chart.js/dist/Chart.min.js"></script>
    <title>ForceGraph</title>
  </head>
  <body>
    <canvas id="forceChart" width="600" height="300"></canvas>
    <script type="text/javascript" src="<%= @root_dir %>/ui/js/build/force_chart.js"></script>
  </body>
</html>
