body {
  margin: 0;
  padding: 3px;
  font-family: sans-serif;
  height: 100%;
  font-size: 11px !important;
}

html,
#root,
#root > div {
  height: 100%;
}

.chart {
  background: white;
  width: 300px;
  height: 50px;
  border-left: 1px dotted #555;
  border-bottom: 1px dotted #555;
}

circle {
  cursor: pointer;
}

line {
  cursor: move;
}

svg {
  padding: 0.5px;
  /* padding-bottom: 3px; */
  margin-bottom: 10px;
}

span {
  background: white;
}

button:not(.add-new-kf) {
  margin: 0 !important;
}

.control-buttons .col:not(:last-child) {
  margin-right: 3px !important;
  margin-bottom: 3px !important;
}

.add-new-kf {
  margin-left: 30px !important;
  width: 30px !important;
  position: relative;
  bottom: 10px;
}

input[type='range'] {
  position: relative;
  top: 18px;
  right: 9px;
  transform: rotate(270deg);
  width: 50px;
}

.form-check-input {
  margin-top: 0.1rem;
}

.red-line {
  width: 2px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 50px;
}

.broken-time-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: red;
}
