<!DOCTYPE html>
<html lang="de">
<link rel="stylesheet" href="../css/ui.css" type="text/css">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Menu</title>
</head>
<body>

K:
<br>
<input type="number" min="0.0" value="<%= @spring.spring_parameter_k %>" step="0.1" onchange="set_k(this.value)">
<br><br>
Manual Precompression:
<br>
<input type="number"  value="<%= @spring.manual_precompression %>" step="1" onchange="set_manual_precompression(this.value)">
<br><br>

<script type="text/javascript">
    function set_k(newValue) {
        sketchup.set_k(newValue);
    }
    function set_manual_precompression(newValue) {
      sketchup.set_manual_precompression(newValue);
    }
</script>
</body>
</html>
