<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- TODO: use local files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/common.css" type="text/css">
  <link rel="stylesheet" href="../css/actuator_menu.css" type="text/css">
  <title>Actuator Menu</title>

</head>

<body>
  <div class="simulation-control">
    <button type="button" class="start-button">Start</button>
    <button type="button" class="pause-button">Pause</button>
    <button type="button" class="restart-button">Restart</button>
  </div>
  <div class="acutator-settings">
    <ul class="nav nav-tabs" id="actuators-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#scheduling" role="tab" aria-controls="scheduling" aria-selected="true">Scheduling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#manual" role="tab" aria-controls="manual" aria-selected="false">Manual</a>
      </li>
    </ul>
    <div class="tab-content" id="actuators-tab-content">
      <div class="tab-pane fade show active" id="scheduling" role="tabpanel" aria-labelledby="scheduling-tab">
      </div>
      <div class="tab-pane fade" id="manual" role="tabpanel" aria-labelledby="manual-tab">
      </div>
    </div>
  </div>
  </div>


  <script src="https://d3js.org/d3.v4.js"></script>

  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/build/actuator_menu.js"></script>
  <script type="text/javascript" src="../js/build/cycle_designer.js"></script>
</body>

</html>
