/* general */

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  padding: 2px;
}

/* sidebar buttons */

button img {
  width: 45px;
  height: 45px;
  margin: 2.5px !important;
}


button[disabled] {
  background: #fefefe;
  color: grey;
  cursor: default;
}
